


@media all and (max-width: 1023px) {
    .intro {
        margin-top: 10vh;
        height: 110vh;
        background-repeat: no-repeat ;
        background-position: 300px -250px;
        background-size: auto ;
    }
}








@media all and (max-width: 767px) {
    .intro {
        margin-top: 10vh;
        height: 110vh;
        background-repeat: no-repeat ;
        background-position: 100px -250px;
        background-size: auto ;
    }
}